body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRK8XP7--_aziBV-ny7Fyjqk3OCwtXrzGgUhpiUz-_Jkue9Cjjy3hqN9Ge&s=10");
	background-size: cover;
	background-positin: center;
	background-repeat: no-repeat;
}